.img {
    height: 200px;
    width: 200px;
}

.link {
    color: red;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    color: purple ;
}

/* body {
    background-color: bisque;
} */

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 45px;
}
h5 {
    margin: 0;
}
.box {
    background: azure;
    display: flex !important;
    flex-direction: column;
    /* width: 300px; */
    font-size: 30px;
    padding: 40px; 
    color: green;
    width: fit-content;
    border-radius: 10px;
}

ol {
    border: 2.5px solid #000;
    border-radius: 10px;
    padding: 20px;
}

li {
    padding: 0 20px;
    margin-left: 40px;
}

.img_asm {
    height: 230px;
    width: 230px;
}

p {
    font-size: 30px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
      background: bisque;
      color: black;
        }
  }
@media screen and (prefers-color-scheme: light) {
    body {
        background: bisque;
        color: black;
    }
}
.theme-dark {
    background: rgb(150, 135, 135);
    color: white;
  }
  
.theme-light {
    background: bisque;
    color: black;
  }

